<footer>

    <span class="copyright">© Samvat Tiwari, 2023</span>
    <div id="links">

        <a href="/">Home</a>
        <a href="/users/">Users</a>
        <% if(locals.user){ %>
            <a href="/users/profile/<%= user.id %>">Profile</a>
        <% }else{ %>
            <a href="/users/login">Login</a>
        <% } %>
    </div>
</footer>