<footer>

    <span class="copyright">© Samvat Tiwari, 2023</span>
    <div id="links">

        <a href="http://localhost:8000/">Home</a>
        <a href="http://localhost:8000/users/">Users</a>
        <a href="http://localhost:8000/users/profile">Profile</a>
    </div>
</footer>