<div class="enter-email">

    <form action="/users/reset-password/sendEmail" method="post" id="forgot-password-form">

        <input type="text" name="email" placeholder="Email" required>
        <input type="submit" value="Enter">
    </form>
</div>

<script src="<%= assetPath('js/forgot_password.js') %>"></script>