<h1>Log In</h1>

<form action="http://localhost:8000/users/create-session" method="post">

    <label for="email">Email: </label>
    <input type="text" name="email" id="email" placeholder="Email" required>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" placeholder="Password" requried>

    <button type="submit">Login</button>
</form>