<link rel="stylesheet" href="/<%= assetPath('css/login.css') %>">

<h1>Log In</h1>

<form action="/users/create-session" method="post">

    <div>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" placeholder="Email" required>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Password" requried>
        <button type="submit">Login</button>
    </div>


</form>

<p>

    <a href="/users/auth/google"><i class="fa-brands fa-google"></i> Google Login</a>

</p>

<p><a href="/users/forgot_password">Forgot Password</a></p>