<link rel="stylesheet" href="/<%= assetPath('css/reset_password.css') %>">

<form action="/users/update-password" method="post" id="password-form">

    <label for="password">New Password:</label>
    <input type="text" name="password" id="password" required>

    <label for="confirm-password">Confirm Password:</label>
    <input type="text" name="confirm-password" id="confirm-password" required>
    <input type="hidden" name="user" value="<%= reset_token.user._id %>">
    <input type="hidden" name="accessToken" value="<%= reset_token.accessToken %>">
    <input type="submit" value="Submit">
</form>

<script src="/<%= assetPath('js/reset_password.js') %>"></script>