.home-container {

    display: flex;

    flex-direction: row;

    .users-list-user{

        color: black;
    }

    .user-friends {

        .friend {
            display: flex;
            flex-direction: row;

            a{

                color: black;
            }
        }
    }

    .user-list{

        a{

            color: black;

            i{

                color: black;
            }
        }
    }
}

#all-users {
    flex: 0 0 20%;  /* take up 20% of the space */
    max-width: 20%;
}

.feed-posts {
    flex: 1;  /* take up the remaining space */
}