form {
  display: flex;
  flex-direction: column; }

form input {
  width: 10vw;
  align-self: center;
  margin: 0vh 0 2vh 0; }

form button {
  width: 10vw;
  align-self: center;
  margin: 2vh 0 2vh 0; }

p {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around; }
  p a {
    display: inline-block;
    text-decoration: none;
    position: relative; }
