.home-container {
  display: flex;
  flex-direction: row; }
  .home-container .users-list-user {
    color: black; }
  .home-container .user-friends .friend {
    display: flex;
    flex-direction: row; }
    .home-container .user-friends .friend a {
      color: black; }
  .home-container .user-list a {
    color: black; }
    .home-container .user-list a i {
      color: black; }

#all-users {
  flex: 0 0 20%;
  /* take up 20% of the space */
  max-width: 20%; }

.feed-posts {
  flex: 1;
  /* take up the remaining space */ }
