html body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; }
  html body h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em; }
  html body .flex-container {
    flex: 1;
    /* Allow the main content to take up remaining vertical space */
    display: flex;
    flex-direction: column; }
  html body #layout-main {
    flex: 1;
    margin: 1vh 1vw 1vh 1vw; }
    html body #layout-main .feed-posts {
      margin-right: 1vw; }
    html body #layout-main .user-friends {
      max-width: 10%; }
    html body #layout-main .make-a-post {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: 'Roboto', sans-serif; }
      html body #layout-main .make-a-post h2 {
        margin: 0;
        font-size: 2.5vh;
        margin-left: 1vw;
        font-weight: 400; }
      html body #layout-main .make-a-post textarea {
        width: 99%;
        height: 5vh; }
    html body #layout-main .user-post {
      border: 1px solid black;
      margin: 1vh 0 0vh 0; }
      html body #layout-main .user-post .post-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        html body #layout-main .user-post .post-header .username {
          margin: 0vh 0 0vh 1vw;
          font-family: 'Roboto', sans-serif;
          font-size: 2.5vh; }
        html body #layout-main .user-post .post-header a {
          align-self: center; }
        html body #layout-main .user-post .post-header .post-delete-btn i {
          color: black; }
      html body #layout-main .user-post .post-content {
        margin: 0;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: lightgray;
        font-size: 2.5vh; }
    html body #layout-main .post-footer a {
      color: black;
      text-decoration: none; }
    html body #layout-main .comment-form {
      margin: 0 0 0 1vw; }
    html body #layout-main .post-comments .comment-header {
      margin: 0 0 0 1vw; }
      html body #layout-main .post-comments .comment-header a {
        color: black;
        align-self: center; }
    html body #layout-main .post-comments .comment-username {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Roboto', sans-serif;
      margin: 0 0 0 1vw; }
    html body #layout-main .post-comments .comment-content {
      font-family: 'Roboto Condensed', sans-serif;
      background-color: lightgray;
      margin: 0; }
    html body #layout-main .post-comments .comment-footer .comment-likes {
      margin: 0 0 0 1vw; }
      html body #layout-main .post-comments .comment-footer .comment-likes a {
        text-decoration: none; }
      html body #layout-main .post-comments .comment-footer .comment-likes i {
        color: black; }
  html body .chat-window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 40vh;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: space-between; }
    html body .chat-window .chat-messages {
      max-height: 300px;
      overflow-y: auto;
      padding: 10px;
      display: flex;
      flex-direction: column; }
      html body .chat-window .chat-messages .temp1 {
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: right; }
        html body .chat-window .chat-messages .temp1 .message {
          padding: 8px;
          margin-bottom: 5px;
          border-radius: 5px; }
        html body .chat-window .chat-messages .temp1 .user-message {
          background-color: #007bff;
          color: #fff;
          width: fit-content; }
      html body .chat-window .chat-messages .temp2 {
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: left; }
        html body .chat-window .chat-messages .temp2 .message {
          padding: 8px;
          margin-bottom: 5px;
          border-radius: 5px; }
        html body .chat-window .chat-messages .temp2 .friend-message {
          background-color: #f0f0f0;
          color: #333;
          width: fit-content;
          justify-content: left; }
  html body .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc; }
  html body .chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; }
  html body .chat-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer; }
