html body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; }
  html body h1 {
    font-family: 'Roboto', sans-serif; }
  html body .flex-container {
    flex: 1;
    /* Allow the main content to take up remaining vertical space */
    display: flex;
    flex-direction: column; }
  html body #layout-main {
    flex: 1;
    margin: 1vh 1vw 1vh 1vw; }
    html body #layout-main .user-post {
      border: 1px solid black;
      margin: 1vh 0 1vh 0; }
      html body #layout-main .user-post .username {
        margin: 1vh 0 1vh 0;
        font-family: 'Roboto', sans-serif; }
      html body #layout-main .user-post .post-content {
        margin: 0;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: lightgray; }
      html body #layout-main .user-post .post-comments {
        border: 1px solid gray; }
        html body #layout-main .user-post .post-comments .comment-username {
          font-family: 'Roboto', sans-serif;
          margin: 0 0 0 1vw; }
        html body #layout-main .user-post .post-comments .comment-content {
          font-family: 'Roboto Condensed', sans-serif;
          margin: 0 0 0 1vw;
          background-color: lightgray; }
