form {
  display: flex;
  flex-direction: column; }

form input {
  width: 10vw;
  align-self: center;
  margin: 0vh 0 2vh 0; }

form button {
  width: 10vw;
  align-self: center;
  margin: 2vh 0 2vh 0; }
